
#sarah {
	background-image: url("../../images/headshots/sarah.jpg");
	background-size: cover;
}

#haybet {
	background-image: url("../../images/headshots/haybet.jpg");
	background-size: cover;
}

#munir {
	background-image: url("../../images/headshots/munir.jpg");
	background-size: cover;
}

#zahra {
	background-image: url("../../images/headshots/zahra.jpg");
	background-size: cover;
}

#neyra {
	background-image: url("../../images/headshots/neyra.jpg");
	background-size: cover;
}

#sarahA {
	background-image: url("../../images/headshots/sarahA.jpg");
	background-size: cover;
}

#amina {
	background-image: url("../../images/headshots/amina.jpg");
	background-size: cover;
}

#saad {
	background-image: url("../../images/headshots/saad.jpg");
	background-size: cover;
}
